/* Fonts Para todos los sites aparentemente*/
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

/* Color del fondo y weas  */
:root {
  --main-color: #bc9667;
  --second-color: #edeae3;
  --text-color: #1b1b1b;
  --bg-color: #fff;

  --box-shadow: 2px 2px 10px 2px rgba(14 55 54 / 15%);
}


/* -------------------------- INDEX -------------------------- */

.home-text p {
  font-weight: 500;
}

/* Configuracion de los clientes Zona = Index*/
#customers {
  padding: 50px 100px;
  margin-top: 110px;
}

/* Imagen de Sobre nosotros index Zona = Index*/
.imagen-index {
  max-width: 95%;

}

.clientes-index {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 600;
}

/* Styles para el about abajo Zona = Index */

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  gap: 1.5rem;
  margin-top: 0.5vh;
}

.about-img img {
  display: block;
  /* Permite usar margin auto */
  margin: 0 auto;
  /* Centra horizontalmente */
  border-radius: 0.5rem;
  /* Bordes redondeados */
}

.about-text p {
  font-size: 1.8rem;
  margin: 0.5rem 0 1.1rem;
}

.about-text-header h1 {
  display: flex;
  justify-content: center;
}

.about-tittle {
  font-size: 50px;
  font-weight: 600;
}

.about-button {
  display: flex;
  justify-content: center;
  max-width: 65%;
  margin: 0 auto;
  margin-top: 5%;

}


.about-us-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  gap: 1.5rem;
  margin-top: 42.5vh;
}


/* Animacion creo al seleccionar producto */
.shadow-drop-center {
  animation: shadow-drop-center 0.4s linear both;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }

  100% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.55);
  }
}

/* Padding de seccion */
section {
  padding: 50px 100px;
}

section .products {
  padding: 5px 100px;
}

/* Propiedad de las imagenes */
img {
  width: 85%;


}

.img-home img {
  border-radius: 1.25%;
  width: 85%;
  max-height: 80vh;

}

body {
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;
  transition: 0.5s linear;
  background: var(--text-color);
}


.logo img {
  width: 60px;
}


/* Navbar de la pagina */
.navbar {
  display: flex;
}

.navbar a {
  padding: 8px 17px;
  color: var(--bg-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover {
  background: var(--main-color);
  border-radius: 0.2rem;
  transition: 0.2s all linear;
}

/* Header */
.header-icon {
  font-size: 22px;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  column-gap: 0.8rem;
}

.header-icon .bx {
  color: var(--bg-color);
}

.header-icon .bx:hover {
  color: var(--main-color);
}

#menu-icon {
  color: var(--bg-color);
  font-size: 24px;
  z-index: 100001;
  cursor: pointer;
  display: none;
}

.search-box {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  background: var(--bg-color);
  width: 100%;
}

.search-box.active {
  top: 110%;
  box-shadow: var(--box-shadow);
  transition: 0.2s all linear;
}

.search-box input {
  padding: 20px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: var(--main-color);
}

.search-box input::placeholder {
  font-size: 1rem;
  font-weight: 500;
}

.home {
  width: 100%;
  min-height: 100vh;
  background: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
}

.home-text h1 {
  font-size: 3.4rem;
  color: var(--main-color);
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home-text p {
  font-size: 0.938rem;
  color: var(--bg-color);
  margin: 0.5rem 0 1.4rem;
}

.btn {
  padding: 10px 40px;

  border-radius: 0.3rem;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 500;
}

.btn:hover {
  background: #8a6f4d;
}


/* --------------- Seccion de Productos ---------------*/

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.25rem;
  margin-top: 2rem;
}

.products-container .box {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.products-container img {
  width: 100%;
  height: 250px;

  object-position: center;
  padding: 5px;
  background: #f1f1f1;
  border-radius: 5px;
}

.products-container .box h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5rem 0 0.5rem;
}

.products-container .box .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}

.products-container .box .content span {
  padding: 0 1rem;
  color: var(--bg-color);
  background: var(--main-color);
  border-radius: 4px;
  font-weight: 500;
}

.products-container .box .content a {
  padding: 0 1rem;
  color: var(--text-color);
  border: 2px solid var(--main-color);
  border-radius: 4px;
  text-transform: uppercase;
}

.products-container .box .content a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}


/* ---------------------------------------------------------- */

.wrapped {
  text-wrap: pretty;
  max-width: 60%;
}


.customer-service-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.customer-service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-wrap: pretty;

}

.customer-service-tittle {
  display: flex;
  font-size: 200%;
  font-weight: 600;
  margin-bottom: 1%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-wrap: pretty;
}

.customer-service-v {
  margin: 4%;
  display: flex;
  align-items: center;

}

.customers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.customers-container .box {
  max-width: 90%;
  /* Limitar ancho */
  min-width: 60%;
  max-height: 400px;
  /* Limitar alto */
  height: 100%;
  /* Asegurar que todas tengan la misma altura */
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  /* Hacer uso de flex para alinear contenido interno */
  flex-direction: column;
  justify-content: space-between;
  /* Espaciado uniforme entre elementos */
}

.stars .bx {
  color: var(--main-color);
}



.customers-container .box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.customers-container .box h2,
.customers-container .box p {
  word-wrap: break-word;
  /* Manejar palabras largas */
  margin: 0.5rem 0;
}

.customers-container .box:hover {
  background: var(--second-color);
  transition: 0.2s all linear;

}



.view-more-container {
  text-align: center;
  margin-top: 20px;
}

.view-more-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-more-btn:hover {
  background-color: #555;
}

/* Existing CSS */

#user-icon {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  /* Adjust according to your header height */
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

#user-icon {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  /* Ajusta según la altura de tu cabecera */
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

/* Estilos para el contenedor de productos y filtros */

.shop-header {
  text-align: center;
  padding: 20px;
}

main {
  padding-top: 90px;
  /* Ajustar según la altura de tu header */
}

.filters {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  margin-top: 10px;
}

.filter-group {
  display: flex;
  align-items: center;
}

.filter-group label {
  margin-right: 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-box {
  width: 30%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  position: relative;
}

.product-box img {
  width: 100%;
  height: 60%;
  /* Adjust based on your design */
  object-fit: cover;
}

.product-box h3 {
  padding: 10px 0;
  font-size: 1.2em;
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.product-box .price {
  font-size: 1.1em;
  color: #333;
  padding-bottom: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#user-icon {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  /* Ajusta según la altura de tu cabecera */
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

/* Estilos para el contenedor de productos y filtros */

.shop-header {
  text-align: center;
  padding: 20px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 0 10px;
}

.products-container .box {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
}

.products-container img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: center;
  background: #f1f1f1;
  border-radius: 0.5rem;
  margin-bottom: 15px;
  box-shadow: none;
}

.products-container .box h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.products-container .box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-container .box .content span {
  padding: 0 1rem;
  margin-left: 2%;
  color: var(--bg-color);
  background: var(--main-color);
  border-radius: 5px;
  font-weight: 500;
}

.products-container .box .content a {
  padding: 0 1rem;
  color: var(--text-color);
  border: 2px solid var(--main-color);
  border-radius: 4px;
  text-transform: uppercase;
}

.products-container .box .content a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

.customers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}

.customers-container .box {
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
}

.stars .bx {
  color: var(--main-color);
}

.customers-container .box p {
  font-size: 0.938rem;
}

.customers-container .box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
}

.customers-container .box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.customers-container .box:hover {
  background: var(--second-color);
  transition: 0.2s all linear;
}

.view-more-container {
  text-align: center;
  margin-top: 20px;
}

.view-more-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-more-btn:hover {
  background-color: #555;
}

.products {
  padding: 5px 100px;
}

.header-icon {
  position: relative;
  display: inline-block;
}

.header-icon .dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-icon .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header-icon .dropdown-menu a:hover {
  background-color: #ddd;
}

.header-icon .dropdown-menu.show {
  display: block;
}



.footer-line {
  width: 100%;
  height: 5px;
  /* Ajusta el grosor de la línea según tus preferencias */
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
}